---
import type { HTMLAttributes } from "astro/types";
import { link } from "./style";

type Props = HTMLAttributes<'a'>;
const props = Astro.props;
---

<a {...props} class={link()}>
  <slot />
</a>
